<div class="container">
  <form
    id="contact"
    class="form"
    [formGroup]="documentForm"
    (ngSubmit)="saveDocument()"
  >
    <h3>Ajouter un document</h3>
    <fieldset>
      <input
        placeholder="ISBN"
        type="text"
        tabindex="1"
        autofocus
        formControlName="ISBN"
      />
    </fieldset>
    <fieldset>
      <input
        placeholder="Titre"
        type="text"
        tabindex="2"
        formControlName="Title"
      />
    </fieldset>
    <fieldset>
      <input
        placeholder="Année d'édition"
        type="number"
        tabindex="3"
        formControlName="Year_Published"
      />
    </fieldset>
    <fieldset>
      <input
        placeholder="Id d'éditeur"
        type="number"
        tabindex="3"
        formControlName="Publisher_ID"
      />
    </fieldset>
    <fieldset>
      <button name="submit" id="contact-submit">Ajouter</button>
    </fieldset>
  </form>
</div>
